name: Docker build

on:
  workflow_call:
    inputs:
      docker_file_path:
        required: true
        type: string
      docker_image_name:
        required: true
        type: string
      docker_has_tests:
        required: false
        type: boolean
        default: false
      docker_has_code_coverage:
        required: false
        type: boolean
        default: false
      octo_auto_release_dev:
        required: false
        type: boolean
        default: false
      octo_auto_release_prod:
        required: false
        type: boolean
        default: false
    secrets:
      docker_server_url:
        required: true
      docker_server_username:
        required: true
      docker_server_password:
        required: true
      nuget_github_server_url:
        required: true
      nuget_github_server_username:
        required: true
      nuget_github_server_password:
        required: true
      octopus_server_url:
        required: true
      octopus_server_apikey:
        required: true


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: '6.x'

    - name: Download GitVersion config
      run: curl -L https://raw.githubusercontent.com/nowastelogistics/procedures/master/GitVersionConfig.yml -o GitVersionConfig.yml
      
    - name: Show config with line numbers
      run: |
        nl -ba GitVersionConfig.yml | sed -n '1,120p'

    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v4.2.0
      with:
        useConfigFile: true
        configFilePath: GitVersionConfig.yml

    - name: Cache Docker layers
      id: docker-cache
      uses: actions/cache@v4
      with:
        path: /tmp/.docker-cache
        key: ${{ runner.os }}-docker-${{ hashFiles(inputs.docker_file_path) }}
        restore-keys: ${{ runner.os }}-docker

    - name: Setup buildx
      uses: docker/setup-buildx-action@v3
      id: buildx
      with:
        install: true

    - name: Build & Test Docker
      run: >-
            docker build
            --build-arg NUGET_GITHUB_SERVER_URL=${{ secrets.nuget_github_server_url }}
            --build-arg NUGET_GITHUB_SERVER_USERNAME=${{ secrets.nuget_github_server_username }}
            --build-arg NUGET_GITHUB_SERVER_PASSWORD=${{ secrets.nuget_github_server_password }}
            --build-arg GITVERSION=${{ env.GitVersion_NuGetVersionV2 }}
            --output type=docker
            --file ${{ inputs.docker_file_path }}
            --cache-from type=local,src=/tmp/.docker-cache
            --cache-to type=local,dest=/tmp/.docker-cache
            --tag ${{ secrets.docker_server_url }}/${{ secrets.docker_server_username }}/${{ inputs.docker_image_name }}:${{ env.GitVersion_NuGetVersionV2 }} .

    - name: Extract test results
      if: inputs.docker_has_tests == true
      run: |
            docker create -ti --name dummy ${{ secrets.docker_server_url }}/${{ secrets.docker_server_username }}/${{ inputs.docker_image_name }}:${{ env.GitVersion_NuGetVersionV2 }} bash
            docker cp dummy:/TestResults/. ./TestResults

            if [[ ${{ inputs.docker_has_code_coverage }} == true ]]; then
              cp TestResults/*/coverage.cobertura.xml TestResults/coverage.cobertura.xml
            fi

    - name: Upload test results
      if: (success() || failure()) && hashFiles('TestResults/*.trx') != ''
      uses: dorny/test-reporter@v1
      with:
        name: Tests
        working-directory: ${{ github.workspace }}/TestResults
        path: '*.trx'
        reporter: dotnet-trx
        max-annotations: '50'
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Code Coverage Summary Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      id: codecoveragereport
      if: hashFiles('TestResults/*.xml') != ''
      with:
        filename: TestResults/coverage.cobertura.xml
        badge: true
        format: 'markdown'
        output: 'both'

    - name: Get Pull Request information
      uses: 8BitJonny/gh-get-current-pr@3.0.0
      if: steps.codecoveragereport.outcome == 'success'
      id: PR
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        sha: ${{ github.event.pull_request.head.sha }}
        filterOutClosed: true

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: steps.PR.outputs.number != '' && steps.PR.outcome == 'success'
      with:
        number: ${{ steps.PR.outputs.number }}
        recreate: true
        path: code-coverage-results.md

    - name: Docker Login
      if: startsWith(github.ref, 'refs/tags/') || startsWith(github.ref, 'refs/heads/release') || github.ref == 'refs/heads/develop'
      uses: docker/login-action@v3
      with:
        registry: ${{ secrets.docker_server_url }}
        username: ${{ secrets.docker_server_username }}
        password: ${{ secrets.docker_server_password }}

    - name: Docker Upload & Release - latest
      if: startsWith(github.ref, 'refs/tags/')
      run: |
          docker tag ${{ secrets.docker_server_url }}/${{ secrets.docker_server_username }}/${{ inputs.docker_image_name }}:${{ env.GitVersion_NuGetVersionV2 }} ${{ secrets.docker_server_url }}/${{ secrets.docker_server_username }}/${{ inputs.docker_image_name }}:latest
          docker push ${{ secrets.docker_server_url }}/${{ secrets.docker_server_username }}/${{ inputs.docker_image_name }}:latest

    - name: Docker Upload & Release - build
      if: startsWith(github.ref, 'refs/tags/') || startsWith(github.ref, 'refs/heads/release') || github.ref == 'refs/heads/develop'
      run: |
          docker push ${{ secrets.docker_server_url }}/${{ secrets.docker_server_username }}/${{ inputs.docker_image_name }}:${{ env.GitVersion_NuGetVersionV2 }}

    - name: Install Octopus CLI
      if: startsWith(github.ref, 'refs/tags/') || startsWith(github.ref, 'refs/heads/release') || github.ref == 'refs/heads/develop'
      uses: OctopusDeploy/install-octopus-cli-action@v3
      with:
        version: latest

    - name: Determine Octopus release branch
      if: startsWith(github.ref, 'refs/tags/') || startsWith(github.ref, 'refs/heads/release') || github.ref == 'refs/heads/develop'
      id: octopus-channel
      run: |
          echo "autorelease=false" >> $GITHUB_OUTPUT

          if [[ $GITHUB_REF == 'refs/tags/'* ]]; then
            echo "channel=Production" >> $GITHUB_OUTPUT
            echo "notes=https://github.com/$GITHUB_REPOSITORY/releases/tag/$GITHUB_REF_NAME" >> $GITHUB_OUTPUT

            if [[ ${{ inputs.octo_auto_release_prod }} == true ]]; then
              echo "autorelease=true" >> $GITHUB_OUTPUT
            fi
          else
            echo "channel=Development" >> $GITHUB_OUTPUT
            echo "notes=https://github.com/$GITHUB_REPOSITORY/commit/$GITHUB_SHA" >> $GITHUB_OUTPUT

            if [[ ${{ inputs.octo_auto_release_dev }} == true ]] && [[ $GITHUB_REF_NAME == "refs/heads/release"* ]]; then
              echo "autorelease=true" >> $GITHUB_OUTPUT
            fi
          fi

    - name: Octopus Create release
      if: startsWith(github.ref, 'refs/tags/') || startsWith(github.ref, 'refs/heads/release') || github.ref == 'refs/heads/develop'
      run: |
          octopus login --server "${{ secrets.octopus_server_url }}" --api-key "${{ secrets.octopus_server_apikey }}"
          octopus package zip create --id "${{ inputs.docker_image_name }}" --version "${{ env.GitVersion_NuGetVersionV2 }}" --base-path "nomad" --include "${{ inputs.docker_image_name }}.*"
          octopus package upload --space "Spaces-1" --package "${{ inputs.docker_image_name }}.${{ env.GitVersion_NuGetVersionV2 }}.zip"
          octopus release create --space "Spaces-1" --project "${{ inputs.docker_image_name }}" --version "${{ env.GitVersion_NuGetVersionV2 }}" --channel "${{ steps.octopus-channel.outputs.channel }}" --releaseNotes "${{ steps.octopus-channel.outputs.notes }}" --package "${{ inputs.docker_image_name }}:${{ env.GitVersion_NuGetVersionV2 }}"

          if ${{ steps.octopus-channel.outputs.autorelease }}; then
            octopus deploy-release --project "${{ inputs.docker_image_name }}" --version "${{ env.GitVersion_NuGetVersionV2 }}" --tenant "*" --deployTo "${{ steps.octopus-channel.outputs.channel }}"
          fi

          echo '### Octopus release' >> $GITHUB_STEP_SUMMARY
          echo 'Pushed new release of docker container **${{ inputs.docker_image_name }}** version **${{ env.GitVersion_NuGetVersionV2 }}** to Octopus' >> $GITHUB_STEP_SUMMARY
